.klaviatura{
  width: 704px;
  margin: 0 auto;
}
.klaviatura .row{
width: 100%;
  height: 40px;
  margin-bottom: 10px;
  clear: both;
}
.klaviatura .key{
  width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
    color: #fff;
    margin-left: 6px;
    text-align: center;
    line-height: 40px;
   background: linear-gradient(to top, #444, #5e5d5c);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
.klaviatura .keydown{
  width: 40px;
  height: 40px;
  float: left;
  cursor: pointer;
  color: #fff;
  margin-left: 6px;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(to top, #444, #0805dd);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
      
  
.klaviatura .key:hover{
  background: #575653;
}
.klaviatura .backspace,.klaviatura .shift,.klaviatura .capslock{
  width: 100px;
}
.klaviatura .capslock,.klaviatura .shift{
color: #000000;
}
.klaviatura .tab{
  width: 80px;
}
.klaviatura .space{
  width: 300px;
margin-left: 206px;
}
.klaviatura sup{
  margin: -10px 0 0 -24px;
  font-size: 12px;
  position: absolute;
}
#result{
  width: 680px;
  height: 80px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}